flask
flask-cors
flask-socketio
flask-apscheduler
firebase-admin
python-dotenv
pyjwt
pycryptodome
redis
openai
groq
requests
deep-translator
fpdf
python-docx
PyPDF2
img2pdf
openpyxl
XlsxWriter
reportlab
matplotlib
azure-ai-formrecognizer
aiohttp
asgiref
arabic-reshaper
python-bidi
